.card-trip {
  display: flex;
  background-color: white;
  margin-top: 50px;
  border-radius: 10px;
}

.card-trip img {
  width: 400px;
  height: 200%;
  margin-top: 60px;
}

.card-trip-infos {
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 30px;
}

.reservation {
  margin-left: 450px;
}
