.main-container{

  background-color: red;
  width: 60%;
  height: 650px;
  margin: auto;
  margin-top: 40px;

}


.title-confirmation {
margin-top: 50px;
font-weight: bold;
margin-left: 30px;
}

.card_one{

  background-color: white;
  height: 30%;
  width: 100%;
}

.card_two{

  background-color: white;
  height: 30%;
  width: 100%;
}
