
.main-container-show{


  width: 750px;
  height: 750px;
  margin: auto;
  margin-top: 40px;

 border-radius: 10px;
 box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.reservation-banner{

  height: 250px;
  text-align: center;

}

#background-reservation {
height: 300px;
width: 100%;
opacity: 0.3;
position: relative;
   border-radius: 10px;
}

.reservation-banner h3{
color: black;
font-weight: bold;
position: absolute;
z-index: 1;
margin-top: 105px;
margin-left: 220px;


}




.icon-check {

  height: 60px;
  width: 60px;
  position: absolute;
  z-index: 1;
 margin-top: 145px;
margin-left: 350px;

.main-container {
  background-color: red;
  width: 60%;
  height: 650px;
  margin: auto;
  margin-top: 40px;

}

.title-confirmation {
margin-top: 50px;
font-weight: bold;
margin-left: 30px;
}


.card_one{


width: 190px;
text-align: center;
padding-top: 20px;
padding-right: 5px;

}

.card_two{


width: 170px;
text-align: center;
padding-top: 20px;
padding-right: 5px;

}

.card_three{


width: 170px;
text-align: center;
padding-top: 20px;
padding-right: 5px;

}


.main-container-show p {

margin-top: 70px;
margin-left: 15px;
}

.main-container-show h6 {


margin-left: 15px;
}


#reservation-type {

margin-top: 25px;
margin-left: 15px;
}

.details-reservation {
 margin-top: 30px;

}

.icon-bar {

  width: 10px;
  margin-right: 20px;
}


#footer-reservation {
  padding-left: 120px;
  padding-bottom: 50px;


.card_one {
  background-color: white;
  height: 30%;
  width: 100%;
}

.card_two {
  background-color: white;
  height: 30%;
  width: 100%;

}
