<h1>All my Reservations</h1>

<% @reservations.each do |reservation| %>




  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://source.unsplash.com/user/erondu/1600x900
" alt="Card image cap">

  <div class="card-body">

    <h5 class="card-title">Reservation 1</h5>
    <p class="card-text">Your next trip starts on <%= reservation.arrival_date %> to <%= reservation.departure_date %> </p>

   <%= link_to 'VIEW', accommodation_reservation_path(reservation.accommodation_id, reservation.id), class: "btn btn-red" %>
  </div>
</div>



<%end%>


