// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "buttons";
@import "banner";
@import "footer";


.main-container {
 display: flex;
}

.sub-container

#title{
  color: #FF5A5F;
}

#subtitle {
  color: grey;
  padding-left: 29px;
}
